/* Reset de base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

/* Conteneur principal */
.container {
  max-width: 600px; /* Largeur maximale du contenu */
  margin: 0 auto; /* Centrage horizontal */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styles généraux */
h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Boutons */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

/* Liens */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Listes */
ul {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style-type: none;
  padding: 0%;
}

li {
  margin-right: 10px;
  border: solid 2px darkgrey;
  background-color: white;
  padding: 10px;
  border-radius: 13px;
}

/* Styles pour le formulaire CryptoAlertForm */
form.CryptoAlertForm {
  margin-bottom: 20px;
}

/* Styles pour les champs du formulaire */
.CryptoAlertForm input[type="text"],
.CryptoAlertForm input[type="number"],
.CryptoAlertForm select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles pour les boutons du formulaire */
.CryptoAlertForm button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.CryptoAlertForm button:hover {
  background-color: #0056b3;
}

/* Formulaires */
form {
  max-width: 400px; /* Largeur maximale du formulaire */
  margin: 0 auto; /* Centrage horizontal */
  padding: 20px;
  background-color: #fff;
  border: solid 1px rgb(134, 134, 134);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
}

/* Titre */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Champ de texte */
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur */
}

/* Bouton */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Lien */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  background-color: white;
  border: solid 1px rgb(27 0 255);
  border-radius: 15px;
  margin: 12px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-form {
  max-width: 400px;
  width: 80%;
  padding: 30px; /* Augmentation de l'espacement intérieur */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px; /* Augmentation de la marge inférieure */
}

.form-group {
  margin-bottom: 25px; /* Ajustement de la marge inférieure */
}

.form-group label {
  display: block;
  margin-bottom: 10px; /* Ajustement de la marge inférieure */
}

.form-group input {
  width: 100%;
  padding: 15px; /* Ajustement du rembourrage */
  border: 1px solid #ccc;
  border-radius: 6px; /* Légère augmentation du rayon de la bordure */
  box-sizing: border-box;
}

.login-btn {
  width: 100%; /* Ajustement de la largeur du bouton pour occuper toute la largeur */
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s; /* Ajout d'une transition pour le changement de couleur de fond */
}

.login-btn:hover {
  background-color: #0056b3; /* Changement de couleur de fond au survol */
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
